@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active menu underline */
a.active hr {
    display: block;
    background-color: #0ea5e9;
}

/* Global font */
* {
    font-family: Outfit;
}

/* Heading font */
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Mobile active menu theme */
@media (max-width:648px) {
    a.active {
        background-color: #0ea5e9;
        color: white;
    }
}